@page "/calendar"
@using System.Globalization
@using System.Timers
@using CalendarView.Core.ViewModels
@using CalendarView.Services
@using CalendarView.Services.Music.Interfaces
@using CalendarView.Shared.Components
@using CalendarView.Shared.Models
@using CalendarView.Shared.Resources
@using Common.UI.Extensions
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.WebUtilities;
@using static CalendarView.Shared.Utils.CommonFunctions
@inject CalendarViewModel CalendarViewModel
@inject Design Design
@inject ILogger<Calendar> Logger
@inject PictureService PictureService
@inject NavigationManager Navigation;
@inject IMusicService MusicService;

<PageTitle>Calendar</PageTitle>

<style>
	.side-image {
		background-image:
		@(DifferentiatedDesign.CustomSideImageOverlay ?? "radial-gradient(circle at center, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.8) 100%)"), url('@CurrentPictureUrl');
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.background-image {
		background-image:
		@(DifferentiatedDesign.CustomBackgroundImageOverlay ?? "radial-gradient(circle at center, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.8) 100%)"), url('@CurrentPictureUrl');
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	@@media screen and (orientation: portrait) {
		.grid-container-overwrite {
			grid-template-areas:
				"header"
				"@(DifferentiatedDesign.SwapPictureAndContentInPortrait ? "content" : "menu")"
				"@(DifferentiatedDesign.SwapPictureAndContentInPortrait ? "menu" : "content")"
				"footer";
			grid-template-columns: 1fr;
			grid-template-rows: @(DifferentiatedDesign.SwapPictureAndContentInPortrait ? "0fr 2fr 1fr 0fr" : "0fr 1fr 2fr 0fr");
		}

		.flow-grid-container {
			grid-template-columns: auto auto;
		}

		.menu-overwrite {
			height: 100%;
		}
	}

	@@media screen and (orientation: landscape) {
		.grid-container-overwrite {
			grid-template-areas:
				"header header"
				"@(DifferentiatedDesign.SwapPictureAndContentInLandscape ? "content menu" : "menu content")"
				"footer footer";
			grid-template-columns: @(DifferentiatedDesign.SwapPictureAndContentInLandscape ? "2fr 1fr" : "1fr 2fr");
		}

		.flow-grid-container {
			grid-template-columns: auto auto auto;
		}

		.menu-overwrite {
			height: 100vh;
		}
	}

	.grid-container-overwrite div.content-overwrite {
		grid-area: content;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100%;
		padding: 10px;
		margin: 0px;
	}
</style>

<div class="@(ShowBackgroundImage ? "background-image" : "")" style="margin: 0px; padding: 0px; height: 100vh; width: 100%;">
	<div class="grid-container @(ShowImage ? "grid-container-overwrite" : "")" 
		 style="margin: 0; padding: 0; height: 100vh; width: 100%; backdrop-filter: blur(@(DifferentiatedDesign.CustomBackgroundImageBlur ?? "10px")); @(ShowImage ? "" : "grid-template-columns: 0fr 1fr;")">
		@if (ShowImage)
		{
			<div class="menu side-image menu-overwrite" style="padding: 0px 20px 15px 0px; display: flex; flex-direction: column;">
				<div style="display: flex;">
					@if (MusicService.CurrentTrack is not null)
					{
						<MusicPlayer />
					}

					<div style="flex: 1;">
						@if (DifferentiatedDesign.ShowTime)
						{
							<div style="width: fit-content; margin: 0px 0px 0px auto; padding: 0px;">
								<a style="font-size: 80px">@_currentTimeString</a>
							</div>
						}
						@if (DifferentiatedDesign.ShowDate)
						{
							<div style="width: fit-content; margin: 0px 0px 0px auto; padding: 0px;">
								<a style="font-size: 19px">@_currentDateString</a>
							</div>
						}
					</div>

				</div>
				<div style="flex: 1;">
				</div>
				@if (DifferentiatedDesign.ShowColorLegend)
				{
					<div style="align-content: end;">
						<div style="width: fit-content; margin-left: auto; margin-right: 0px;">
							@foreach (var calendar in GetCalendarsOrderedByColor(CalendarViewModel.Calendars, Design.EventCardDimmingRatio))
							{
								<div class="event-card" style="background-color: @calendar.dimBackColor.ToHex(); border-left-color: @calendar.backColor.ToHex(); color: @calendar.foreColor.ToHex(); margin: 3px; padding: 0px 5px; border-radius: 5px; border-left-width: 3px">
									@calendar.calendar.Name
								</div>
								Logger.LogDebug("Added calendar '{name} with color {backColor}", calendar.calendar.Name, calendar.backColor.ToHex());
							}
						</div>
					</div>
				}
			</div>
		}
		else
		{
			<div class="header" style="display: flex; flex-direction: column;">
				<div style="display: flex;">
					<div style="flex: 1;">
						@if (DifferentiatedDesign.ShowTime)
						{
							<div style="width: fit-content; margin: 0px auto 0px 10px; padding: 0px;">
								<a style="font-size: 80px">@_currentTimeString</a>
							</div>
						}
						@if (DifferentiatedDesign.ShowDate)
						{
							<div style="width: fit-content; margin: 0px auto 10px 10px; padding: 0px;">
								<a style="font-size: 19px">@_currentDateString</a>
							</div>
						}
					</div>

					@if (MusicService.CurrentTrack is not null)
					{
						<MusicPlayer />
					}
				</div>
			</div>

			<div class="footer">
				<div>
					@if (DifferentiatedDesign.ShowColorLegend)
					{
						<div style="width: 100%; display: flex; flex-direction: row; margin: 2px;">
							@foreach (var calendar in GetCalendarsOrderedByColor(CalendarViewModel.Calendars, Design.EventCardDimmingRatio))
							{
								<div class="event-card" style="background-color: @calendar.dimBackColor.ToHex(); border-left-color: @calendar.backColor.ToHex(); color: @calendar.foreColor.ToHex(); margin: 3px; padding: 0px 5px; border-radius: 5px; border-left-width: 3px">
									@calendar.calendar.Name
								</div>
								Logger.LogDebug("Added calendar '{name} with color {backColor}", calendar.calendar.Name, calendar.backColor.ToHex());
							}
						</div>
					}
				</div>
			</div>
		}

		<div class="content @(ShowImage ? "content-overwrite" : "")" style="padding: 0; @(ShowImage ? "" : "grid-area: content;	overflow-y: scroll; overflow-x: hidden; height: 100%; margin: 0px;")">
			<div style="height: 100%; padding: 10px;">
				<div class="flow-grid-container" style="@(ShowImage ? "" : "grid-template-columns: auto auto auto auto;")">
					@{
						InitCalendarParams(CalendarViewModel.Events, out var events, out var startDay, out var endDay, out var today, out var yesterday, out var tomorrow);
					}
					@for (var day = startDay; day <= endDay; day = day.AddDays(1))
					{
						InitCalendarParamsForDay(events, day, today, tomorrow, yesterday, CurrentCulture, Design.LongDayFormat, out var todaysEvents, out var allDayEvents, out var normalDayEvents, out var currentDayName);

						<div>
							<div>
								<a style="font-size: 40px; font-weight: 400;">@day.Day</a>
								<a style="font-size: 30px; padding-left: 10px;">@currentDayName</a>
							</div>

							@if (todaysEvents.Count <= 0)
							{
								<div>
									<a colspan="4">@Translations.ResourceManager.GetString(nameof(Translations.NoEvents), CurrentCulture)</a>
								</div>
							}

							@if (allDayEvents.Count > 0)
							{
								<div style="margin: 5px;">
									@foreach (var ev in allDayEvents.OrderBy(ev => ev.Start))
									{
										var backColor = ev.Calendar.Color;
										var dimBackColor = backColor.GetDimColor(Design.EventCardDimmingRatio);
										var foreColor = dimBackColor.GetForeColor();
										var dimForeColor = foreColor.GetDimColor(0.9);

										<div class="event-card" style="background-color: @dimBackColor.ToHex(); border-left-color: @backColor.ToHex(); margin-bottom: 10px;">
											<div class="grid-container" style="grid-template-columns: 100px 100%; padding: 2px; margin: 5px; border-radius: 10px;">
												<div class="menu" style="text-align: left;">
													<a style="color: @dimForeColor.ToHex(); font-size: 19px; font-weight: 600;">@Translations.ResourceManager.GetString(nameof(Translations.AllDay), CurrentCulture)</a>
												</div>
												<div class="content" style="text-align: left;">
													<a style="text-align: left; color: @foreColor.ToHex(); font-size: 19px; font-weight: 600;">@ev.Name</a>
													<br>
													<a style="text-align: left; color: @dimForeColor.ToHex()">
														@ev.Start.ToShortDateString(Design.ShortDateFormat, CurrentCulture) @(ev.Start == ev.End ? "" : $"- {ev.End.ToShortDateString(Design.ShortDateFormat, CurrentCulture)}")
													</a>
												</div>
											</div>
										</div>

										Logger.LogDebug("Added all day event '{name}' of calendar '{calendar}' with color {backColor}", ev.Name, ev.Calendar.Name, backColor.ToHex());
									}
								</div>
							}

							@if (normalDayEvents.Count > 0)
							{
								<div style="margin: 5px;">
									@foreach (var ev in normalDayEvents.OrderBy(ev => ev.Start))
									{
										var backColor = ev.Calendar.Color;
										var dimBackColor = backColor.GetDimColor(Design.EventCardDimmingRatio);
										var foreColor = dimBackColor.GetForeColor();
										var dimForeColor = foreColor.GetDimColor(0.9);

										<div class="event-card" style="background-color: @dimBackColor.ToHex(); border-left-color: @backColor.ToHex(); margin-bottom: 10px;">
											<div class="grid-container" style="grid-template-columns: 100px 100%; padding: 2px; margin: 5px; border-radius: 10px;">
												<div class="menu" style="text-align: left;">
													<a style="color: @dimForeColor.ToHex(); font-size: 19px; font-weight: 600;">
														@ev.Start.ToShortTimeString(Design.ShortTimeFormat, CurrentCulture)
													</a>
													<br />
													<a style="color: @dimForeColor.ToHex();">
														@ev.End.ToShortTimeString(Design.ShortTimeFormat, CurrentCulture)
													</a>
												</div>
												<div class="content" style="text-align: left;">
													<a style="text-align: left; color: @foreColor.ToHex(); font-size: 19px; font-weight: 600;">@ev.Name</a>
													<br>
													<a style="text-align: left; color: @dimForeColor.ToHex();">
														@ev.Start.Date.ToShortDateString(Design.ShortDateFormat, CurrentCulture) @(ev.Start.Date == ev.End.Date ? "" : $"- {ev.End.Date.ToShortDateString(Design.ShortDateFormat, CurrentCulture)}")
													</a>
												</div>
											</div>
										</div>

										Logger.LogDebug("Added event '{name}' of calendar '{calendar}' with color {backColor}", ev.Name, ev.Calendar.Name, backColor.ToHex());
									}
								</div>
							}

						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<NotificationArea Notifications="@CalendarViewModel.Notifications"></NotificationArea>


@code {
	private Timer? _timeTimer;
	private string _currentTimeString = DateTime.Now.ToShortTimeString();
	private string _currentDateString = DateTime.Now.ToLongDateString();
	private CultureInfo CurrentCulture => new(Design.Language);
	private DifferentiatedDesign DifferentiatedDesign => Design.GetDesign(
		PageLayoutTranslation.Translations.FirstOrDefault(t => t.Value.ShowBackgroundImage == ShowBackgroundImage && t.Value.ShowImage == ShowImage).Key);

	[Parameter] public bool ShowImage { get; set; } = false;

	[Parameter] public bool ShowBackgroundImage { get; set; } = false;

	private string CurrentPictureUrl => PictureService.CurrentPictureBase64 is null ? string.Empty : $"data:image/jpeg;base64,{PictureService.CurrentPictureBase64}";

	protected override async Task OnInitializedAsync()
	{
		Logger.LogInformation("Started initialization");

		var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
		var queryParameters = QueryHelpers.ParseQuery(uri.Query);
		if (queryParameters.TryGetValue(key: nameof(PageLayoutTranslation.ShowBackgroundImage),
				value: out var showBackgroundImage))
		{
			ShowBackgroundImage = bool.TryParse(showBackgroundImage, out var showImage) && showImage;
			Logger.LogInformation("{paramName}={value}", nameof(PageLayoutTranslation.ShowBackgroundImage), ShowBackgroundImage);
		}
		if (queryParameters.TryGetValue(key: nameof(PageLayoutTranslation.ShowImage),
			    value: out var showSideImage))
		{
			ShowImage = bool.TryParse(showSideImage, out var showImage) && showImage;
			Logger.LogInformation("{paramName}={value}", nameof(PageLayoutTranslation.ShowImage), ShowImage);
		}


		if (_timeTimer is null)
		{
			_timeTimer = new Timer(TimeSpan.FromSeconds(10));
			_timeTimer.Elapsed += async (_, _) =>
			{
				var currentTimeString = DateTime.Now.ToShortTimeString(Design.ShortTimeFormat, CurrentCulture);
				if (currentTimeString == _currentTimeString) return;
				_currentTimeString = currentTimeString;
				_currentDateString = DateTime.Now.ToLongDateString(Design.LongDateFormat, CurrentCulture);
				await InvokeAsync(StateHasChanged);
				Logger.LogDebug("Time updated");
			};

			Logger.LogInformation("Initialized time timer");
		}

		PictureService.PictureHasChanged += async (_, _) =>
		{
			if (ShowBackgroundImage) await InvokeAsync(StateHasChanged);
		};
		CalendarViewModel.RefreshedCalendars += async (_, _) => await InvokeAsync(StateHasChanged);

		_timeTimer.Start();
		CalendarViewModel.StartRefreshTimer();
		if (!MusicService.IsRunning) await MusicService.Start();

		await InvokeAsync(StateHasChanged);
		Logger.LogInformation("Finished initialization");
	}
}